<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bs.commentaryserver.db.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="org.bs.commentaryserver.db.model.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="wx_nickname" jdbcType="VARCHAR" property="wxNickname"/>
        <result column="wx_avatarurl" jdbcType="VARCHAR" property="wxAvatarurl"/>
        <result column="wx_gender" jdbcType="VARCHAR" property="wxGender"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, wx_nickname, wx_avatarurl, wx_gender, nickname, avatarurl, gender, phone, 
    desc, last_login_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.bs.commentaryserver.db.model.User">
    insert into t_user (user_id, wx_nickname, wx_avatarurl, 
      wx_gender, nickname, avatarurl, 
      gender, phone, desc, 
      last_login_time)
    values (#{userId,jdbcType=INTEGER}, #{wxNickname,jdbcType=VARCHAR}, #{wxAvatarurl,jdbcType=VARCHAR}, 
      #{wxGender,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="org.bs.commentaryserver.db.model.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="wxNickname != null">
                wx_nickname,
            </if>
            <if test="wxAvatarurl != null">
                wx_avatarurl,
            </if>
            <if test="wxGender != null">
                wx_gender,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="avatarurl != null">
                avatarurl,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="desc != null">
                desc,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="wxNickname != null">
                #{wxNickname,jdbcType=VARCHAR},
            </if>
            <if test="wxAvatarurl != null">
                #{wxAvatarurl,jdbcType=VARCHAR},
            </if>
            <if test="wxGender != null">
                #{wxGender,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="avatarurl != null">
                #{avatarurl,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.bs.commentaryserver.db.model.User">
        update t_user
        <set>
            <if test="wxNickname != null">
                wx_nickname = #{wxNickname,jdbcType=VARCHAR},
            </if>
            <if test="wxAvatarurl != null">
                wx_avatarurl = #{wxAvatarurl,jdbcType=VARCHAR},
            </if>
            <if test="wxGender != null">
                wx_gender = #{wxGender,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="avatarurl != null">
                avatarurl = #{avatarurl,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                desc = #{desc,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.bs.commentaryserver.db.model.User">
    update t_user
    set wx_nickname = #{wxNickname,jdbcType=VARCHAR},
      wx_avatarurl = #{wxAvatarurl,jdbcType=VARCHAR},
      wx_gender = #{wxGender,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      avatarurl = #{avatarurl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
    <!-- 新增的方法 -->
    <select id="selectAllUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
    </select>
</mapper>